<html>
    <head>
        <script src="js/angular.min.js"></script>
        <script>
            show = true;
            function clickedShow(){
                console.log("here");
                
                this.show = !this.show;
                console.log(this.show);
            }
        </script>
            
    </head>
    <body ng-app="">
        

            <input type="text" placeholder="Enter Name">
            <button onclick="clickedShow();">Submit</button>
            <br>

            <div ng-if="show">
                <label>Click me: <input type="checkbox" ng-model="checked"  /></label><br/>
                Show when checked:
                <span ng-if="checked">
                    This is removed when the checkbox is unchecked.
                </span>
            </div>
            
            
        
    </body>
    
</html>